# Entorno virtual
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebooks
.ipynb_checkpoints/

# Modelos y artefactos locales
models/
mlruns/

# Archivos de configuración sensibles
.env
*.log

# Directorios de MLflow
mlruns/